/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Non-Default Styles

$white: #eaeaea;
$border-radius: 10px;

//greys
$grey900: hsl(0, 0%, 5%);
$grey800: hsl(0, 0%, 10%);
$grey700: hsl(0, 0%, 30%);
$grey600: hsl(0, 0%, 40%);
$grey500: hsl(0, 0%, 50%);
$grey400: hsl(0, 0%, 60%);
$grey300: hsl(0, 0%, 70%);
$grey200: hsl(0, 0%, 80%);
$grey100: hsl(0, 0%, 90%);

html {
	overflow-y: scroll;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
	background-color: $grey100;
}

.nav {
	position: fixed;
	width: 100vw;
	height: 64px;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 64px;

	z-index: 2;

	background-color: #eaeaea;
	box-shadow: 0 3px 3px hsl(50, 0%, 50%, 0.5);
	color: $grey900;

	.nav-title {
		position: fixed;
		left: 1rem;
		top: 1rem;

		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 2.25rem;
	}

	.navs {
		display: flex;
		font-size: 1.875rem;
		padding-bottom: 0.75rem;

		transition: transform 0.3s ease-out;

		cursor: pointer;

		&:hover {
			transform: translateY(-5px);
			border-bottom: 3px solid $grey600;
		}
	}
}

.content {
	position: relative;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	z-index: 1;

	.background-image {
		position: fixed;
		height: 100%;
		width: 100%;

		background: url(./images/funny-cat.jpg) no-repeat center fixed;
		background-position: 50% 40%;
		filter: grayscale(40%) blur(0px);

		z-index: -1;
	}
}

.home-container {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 10rem;

	z-index: -1;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	background-color: $grey100;

	height: fit-content;
	width: min(50vw, 512px);
	padding: 2rem;

	border-radius: $border-radius;
	border-top: 2px solid $grey100;
	box-shadow: 0 1px 5px $grey700;
	border: 2px solid $grey400;

	button {
		width: fit-content;
		font-size: 1.875rem;
		color: $grey900;

		border-radius: $border-radius;
		cursor: pointer;
	}

	.rsvp {
		margin-bottom: 0rem;
	}

	.title-container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		margin-bottom: 3rem;

		font-family: 'Montserrat Alternates', sans-serif;

		h1 {
			font-size: min(10vw, 4.5rem);
			color: $grey900;
		}

		h2 {
			font-size: 2.25rem;
			color: $grey800;
		}
	}

	> * {
		margin: 1rem 0;
	}
}

.hours-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;

	border: 1px solid grey;
	border-radius: $border-radius;
	padding: 8px 12px 12px 12px;
	box-shadow: 0 2px 3px grey;

	h1 {
		font-size: 1.875rem;
		margin-bottom: 12px;
		color: $grey900;
	}

	.hours {
		display: flex;
		justify-content: space-around;
		width: 100%;
		gap: 48px;

		div {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 300px;

			font-size: 1.125rem;
			color: $grey800;

			h2 {
				font-size: 1.5rem;
				margin-bottom: 8px;
			}
		}
	}
}

// Menu
.menu-container {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 10rem;

	margin-bottom: 10rem;
	padding: 2rem;

	z-index: -1;

	background-color: #eaeaea;

	height: fit-content;
	width: min(50vw, 512px);

	border-radius: $border-radius;
	border: 2px solid $grey400;
}

.food-container {
	.food-title {
		width: fit-content;
		font-size: 2.25rem;
		margin-bottom: 1rem;
		border-bottom: 2px solid black;
	}

	&:first-child {
		margin-bottom: 3rem;
	}
}

.food-grid {
	height: inherit;
	width: inherit;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
	gap: 2rem;

	.food {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: baseline;
		min-height: 96px;

		padding: 0.75rem 1rem;

		border-radius: $border-radius;

		h1 {
			font-size: 1.5rem;
		}

		> * {
			margin: 0.5rem 0;
		}
	}
}

.toggle {
	border-bottom: 3px solid $grey600;

	transform: translateY(-5px);
}

.menu-spacing {
	position: absolute;
	width: 100px;
	height: 100px;
	bottom: 10px;

	border: 1px solid red;
}

// About page

.information-container {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 10rem;

	z-index: -1;
	gap: 4rem;
	padding: 2rem;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	background-color: #eaeaea;

	width: min(50vw, 512px);

	border-radius: $border-radius;
	border: 2px solid $grey400;
}

.information {
	display: flex;
	justify-content: space-around;
	width: inherit;

	div {
		line-height: 1.2;
		width: 100px;
	}

	h1 {
		font-size: 1.875rem;
		margin-bottom: 1rem;
	}

	h2 {
		font-size: 1.25rem;
	}
}

.hours-information-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

a {
	color: black;
}
